.phone {
    width: 275px;
    margin: 100px auto;
    padding-top: 10px;
    padding-bottom: 2px;
    border-radius: 30px;
    box-shadow: -4px -2px 3px #555555,
    4px -2px 3px white;
  }
  
  .active {
    background-color: white;
    color: #ed8937;
  }
  
  .btn:active {
    background: rgba(255,255,255, 0.5);
  }